/* .body-section{
    background : darkblue;
    width:  600px;
    height : 600px;
    align: center;
}
 */


.btn {
    align-items : auto;
    padding : 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 410px;

}

.question {
    text-align: center;
    /* border-style: solid;
    border: 3 3 3 3;
    border-radius: 10px; */
}

#body {
    text-align:  center;
}